.rec-product__card {
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: #324d67;
}
.product-card:hover {
  transform: scale(1.1, 1.1);
}
.product-image {
  border-radius: 15px;
  background-color: #ebebeb;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.product-price {
  font-weight: 800;
  margin-top: 6px;
  color: black;
}

@media screen and (max-width: 668px) {
  .product-image {
    width: 150px;
    height: 150px;
  }

  .product-price {
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  .product-image {
    width: 120px;
    height: 120px;
  }

  .product-price {
    font-size: 14px;
  }
}
