.cart {
  min-height: 100vh;
  background-color: #fff8f4;
  padding: 180px 20px 0 20px;
}

.cart__heading-container {
  max-width: 1382px;
  margin: auto;
  padding: 40px 0 40px 0;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  border-radius: 10px;
}

.cart__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  margin: 0;
}

.cart__main-container {
  max-width: 1382px;
  margin: auto;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.cart__product-lists {
  max-width: 1022px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.empty-cart {
  max-width: 1022px;
  flex-grow: 1;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  margin: 0 20px 0px 0;
  padding: 40px 0 40px 0;
  border-radius: 10px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cart-icon {
  width: 150px;
  height: 150px;
}

.empty-cart-button {
  max-width: 255px;
  margin: 15px 0 0 0;
  background-color: #e0d813;
}

.cart__product-container {
  display: flex;
  gap: 7px;
  flex-direction: column;
}

.cart__product {
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.cart__product-image {
  width: 250px;
  height: 250px;
  margin: 0 0 0 30px;
}

.cart__checkout-wrapper {
  width: 352px;
  max-height: 150px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-left: 10px;
}

.cart__product-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin: 20px 30px 0 20px;
}

.cart__btn_price {
  margin: 0px 50px 0 10px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.cart__checkout-total {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 17px 0 28px 22px;
}

.cart__checkout-total-price {
  font-weight: 700;
  font-size: 24px;
}

.cart__checkout-button {
  width: 290px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 0 10px 0;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #7bd3b3;
  margin: 0 0 34px 22px;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.cart__checkout-button:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.05, 1.05);
}
