.footer {
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff8f4;
}

.footer__description {
  margin: 0 0 10px 0;
}

.footer__github-link {
  width: 25px;
  height: 25px;
  margin: 0 5px 0 0;
}

.footer__linkedin-link {
  width: 25px;
  height: 25px;
}
