html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
}

.app {
  max-width: 1440px;
  margin: auto;
  background-color: #fff8f4;
  padding: 0 0 50px 0;
}

.header {
  background-color: #eaeaea;
  max-width: 1440px;
  margin: 0;
}

.header__container {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  gap: 30px;
}

.header__logo {
  width: 150px;
  height: 76px;
  margin: 9px 0 9px 29px;
  padding: 5px 10px 5px 10px;
  border: 2px #eaeaea solid;
}

.header__logo:hover {
  cursor: pointer;
  border: 2px #ffffff solid;
}

.header__co-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__search-wrapper {
  display: flex;
  flex: 1;
  max-width: 663px;
  display: flex;
  align-items: center;
}

.header__search-input {
  height: 52px;
  border-radius: 10px 0 0 10px;
  border: none;
  padding: 0px 0 0 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  flex: 1;
}
.header__search-button {
  width: 61px;
  height: 52px;
  border-radius: 0 10px 10px 0;
  background: url("../public/images/search.svg") no-repeat center;
  border: none;
  background-color: #d0d0d0;
  position: relative;
}

.header__search-button:hover {
  cursor: pointer;
  border: 2px #ffffff solid;
}

.header__menu-wrapper {
  display: flex;
  width: 302px;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px 0 0;
}

.header__button {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  background: transparent;
  padding: 3px 6px 3px 6px;
  margin: 0;
  text-decoration: none;
  border: 2px #eaeaea solid;
  position: relative;
}

.header__button:hover {
  cursor: pointer;
  border: 2px #ffffff solid;
}

.header__order-link {
  text-decoration: none;
}

.navbar {
  max-width: 100%;
  background-color: #052759;
  padding: 13px 0 13px 0;
  margin: 0 0 20px 0;
}

.navbar__container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-right: 20px;
}

.navbar__button {
  max-width: fit-content;
  border: none;
  background: transparent;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 3px 6px 3px 6px;
  border: 1px #052759 solid;
}

.navbar__button:hover {
  cursor: pointer;
  border: 1px #ffffff solid;
}

.hero-banner__section {
  max-width: 1490px;
  display: flex;
  justify-content: center;
}

.hero-banner__container {
  width: 1190px;
  height: 500px;
  background-color: #e0d813;
  border-radius: 20px;
  padding: 30px 50px 30px 50px;
  position: relative;
}

.hero-banner__header-content {
  margin: 0 0 90px 0;
}

.hero-banner__small-text {
  padding: 0;
  margin: 0;
}

.hero-banner__mid-text {
  font-size: 4rem;
  margin-top: 4px;
  padding: 0;
  margin: 0;
}

.hero-banner__large-text {
  color: white;
  font-size: 8em;
  margin-left: -20px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.hero-banner__image {
  position: absolute;
  top: 0%;
  right:25%;
  width: 500px;
  height: 500px;
}

.hero-banner__bottom-container {
  display: flex;
  justify-content: space-between;
}


.hero-banner__button {
  border-radius: 15px;
  padding: 10px 16px;
  background-color: #f02d34;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index: 10000 !important;
  width: 120px;
  height: 50px;
}


.hero-banner__desc-header {
  color: #5f5f5f;
  font-weight: 100;
  text-align: end;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  /* color: black; */
  align-self: flex-end;
}

.hero-banner__desc {
  width: 224px;
  color: #5f5f5f;
  font-weight: 100;
  text-align: end;
}
