@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../components/Header/Header.css);
@import url(./NavBar.css);
@import url(../components/HeroBanner/HeroBanner.css);
@import url(../components/Main/Main.css);
@import url(../components/AccountModal/AccountModal.css);
@import url(../components/FooterBanner/FooterBanner.css);
@import url(../components/Footer/Footer.css);
@import url(../components/RecProduct/RecProduct.css);
@import url(../components/ProductCard/ProductCard.css);
@import url(./Slug.css);
@import url(./Cart.css);
@import url(./succes.css);
@import url(./signin.css);
@import url(./signup.css);

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
}

.App {
  max-width: 100%;
  background-color: #fff8f4;
  padding: 0 0 50px 0;
}

.App-content {
  max-width: 1440px;
  margin: auto;
}

.modal-container {
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.page-back-arrow {
  width: 30px;
  height: 30px;
  margin: 0 0 20px 0;
}

.page-back-arrow:hover {
  color: #2995ae;
}

.disabled-button {
  background-color: rgb(234, 242, 249);
  transform: scale(1, 1);
  opacity: 1;
}

.disabled-button:hover {
  transform: scale(1, 1);
  opacity: 1;
}
