.header {
  background-color: #eaeaea;
  max-width: 1440px;
  margin: 0;
}

.header__container {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  gap: 30px;
}

.header__logo {
  width: 150px;
  height: 76px;
  margin: 9px 0 9px 29px;
  padding: 5px 10px 5px 10px;
  border: 2px #eaeaea solid;
}

.header__logo:hover {
  cursor: pointer;
  border: 2px #ffffff solid;
}

.header__co-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__search-wrapper {
  display: flex;
  flex: 1;
  max-width: 663px;
  display: flex;
  align-items: center;
}

.header__search-input {
  height: 52px;
  border-radius: 10px 0 0 10px;
  border: none;
  padding: 0px 0 0 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  flex: 1;
}
.header__search-button {
  width: 61px;
  height: 52px;
  border-radius: 0 10px 10px 0;
  background: url("../public/images/search.svg") no-repeat center;
  border: none;
  background-color: #d0d0d0;
  position: relative;
}

.header__search-button:hover {
  cursor: pointer;
  border: 2px #ffffff solid;
}

.header__menu-wrapper {
  display: flex;
  width: 302px;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px 0 0;
}

.header__button {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  background: transparent;
  padding: 3px 6px 3px 6px;
  margin: 0;
  text-decoration: none;
  border: 2px #eaeaea solid;
  position: relative;
}

.header__button:hover {
  cursor: pointer;
  border: 2px #ffffff solid;
}

.header__cart-icon {
  width: 50px;
  height: 30px;
}

.header__cart-item-qty {
  position: absolute;
  right: 10px;
  top: 2px;
  font-size: 12px;
  color: #eee;
  background-color: #f02d34;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}

.header__order-link {
  text-decoration: none;
}