.navbar {
  max-width: 100%;
  background-color: #052759;
  padding: 13px 0 13px 0;
  margin: 0 0 20px 0;
}

.navbar__container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-right: 20px;
}

.navbar__button {
  max-width: fit-content;
  border: none;
  background: transparent;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 3px 6px 3px 6px;
  border: 1px #052759 solid;
}

.navbar__button:hover {
  cursor: pointer;
  border: 1px #ffffff solid;
}