.product {
  max-width: 100%;
  background-color: #fff8f4;
  padding: 0 0 30px 0;
}

.product__detail-container {
  display: flex;
  padding: 80px 0 0 0;
}

.product__image-container {
  max-width: 500px;
  background-color: #d9d9d9;
  margin: 100px 0 0 50px;
  border-radius: 20px;
}

.product__detail-image {
  width: 500px;
  height: 500px;
}

.product__detail-desc h4 {
  margin: 0 0 5px 0;
}

.product__desc {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
  margin: 0 0 10px 0;
}

.product__detail-desc {
  margin: 100px 50px 0 50px;
}

.product__rate-container {
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
}

.product__price {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #ff3305;
  margin: 0 0 15px 0;
}

.product__small-image-wrapper{
  display: flex;
  margin: 0 0 20px 0;
  gap: 10px;
}

.product__small-card {
  width: 126px;
}

.product__small-image {
  width: 126px;
  height: 133px;
  border-radius: 15px;
  background-color: #ebebeb;
}

.selected-image {
  background-color:#f02d34;
  cursor: pointer;
}

.order-section-card {
  max-width: 407px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 0 0 20px 0;
}

.product__quantity {
  margin: 0 0 20px 0;
  padding: 9px 0 0 9px;
}

.product__quantity-title {
  margin: 0 0 10px 0;
}

.product__quantity-button-container {
  border-radius: 10px;
  display: flex;
}

.product__quantity-button {
  display: flex;
  width: fit-content;
  border: 1px black solid;
  padding: 0;
  margin: 0;
}

.product__quantity-button:hover {
  cursor: pointer;
}

.decrease-button {
  border-radius: 10px 0 0 10px;
}

.increase-button {
  border-radius: 0 10px 10px 0;
}

.button-icon {
  width: 40px;
  height: 30px;
}

.quantity_count {
  width: 40px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px black solid;
}

.product__order-button-container {
  margin: 0 9px 0 9px;
}

.product__button {
  width: 189px;
  height: 30px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  opacity: 1;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.product__button:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.05, 1.05);
}

.product__add-to-cart {
  margin: 0 11px 0 0;
  background-color: #1fccf1;
}

.product__buy {
  background-color: #e0d813;
}

.maylike-products-wrapper {
  margin-top: 120px;
}
.maylike-products-wrapper h2 {
  text-align: center;
  margin: 50px;
  color: #324d67;

  font-size: 28px;
}
.maylike-products-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0 20px 0;

}

.track {
  max-width: 100%;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
}
.track:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-80%); }
}
